<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% message = opened_message -%>
<div id='opened_message' style='border-top: 1px solid black;'>
  <table>
    <tr>
      <td class="bold">
        <%= I18n.t 'incoming_messages.opened_message.subject' %>
      </td>
      <td>
        <%= h snippet(message.subject, 50) %>
      </td>
    </tr>
    <tr>
      <td class="bold">
        <%= I18n.t 'incoming_messages.opened_message.from' %>
      </td>
      <td>
        <%= render :partial => 'users/user_name', :object => message.sender %>
      </td>
      <td class="bold">
        <%= I18n.t 'incoming_messages.opened_message.sent_at' %>
      </td>
      <td><%= I18n.l message.created_at, :format => :long %></td>
    </tr>
  </table>
  <div style='margin: 0 2em 0 2em;'>
    <%= simple_format h(word_wrap(message.content, :line_width => 75)) %>
  </div>
</div>
