<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<div id="ads" style="width: 60%; margin: 1em;">
  <% if ads.empty? -%>
    <p class="italic"><%= I18n.t 'ads.no_ads' %></p>
  <% else -%>
    <%= will_paginate ads, :class => 'pagination ajax' %>
    <% ads.each do |ad| -%>
      <h4><%= h ad.subject %></h4>
      <span class="almost_normal">
        <%= I18n.l ad.created_at, :format => :long %>
      </span>
      <%= simple_format h(word_wrap(ad.content, :line_width => 50)) %>
    <% end -%>
  <% end -%>
</div>
