<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% uo = @used_offering -%>
<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
    :object => [home_path, me_users_path, offerings_path,
                offering_path(uo.offering)] %>
<% end -%>

<div class="float_right">
  <%= link_to I18n.t('used_offerings.show.all_offerings_link'),
      offerings_url %>
</div>

<h3><%= I18n.t 'used_offerings.show.title', :id => uo.id %></h3>

<p><%= I18n.t 'used_offerings.show.intro' %></p>

<p><%= I18n.t 'used_offerings.show.offering_intro' %></p>

<%= render :partial => "offerings/offering_detailed",
    :object => uo.offering %>
<p>
  <span class="bold">
    <%= I18n.t 'used_offerings.show.actual_seating_capacity' %>:
  </span>
  <%= uo.seating_capacity %>
</p>

<p><%= I18n.t 'used_offerings.show.passengers_intro' %></p>
<ul>
  <% uo.passengers.each do |p| -%>
    <li><%= render :partial => "users/user_name", :object => p %></li>
  <% end -%>
</ul>
<p>
  <%= link_to I18n.t('used_offerings.show.write_to_passengers'),
        new_message_url(:recipients => recipients_param(uo.passengers)) %>
</p>
<p><%= I18n.t 'used_offerings.show.passengers_note' %></p>

<% if !uo.chilled? -%>
  <p class="almost_normal">
    <%= I18n.t 'used_offerings.show.guide.delete' %>
  </p>
  <%= button_to I18n.t('used_offerings.show.delete_label'),
    used_offering_url(uo),
    :method => :delete, :confirm => I18n.t('are_you_sure?') %>
<% end -%>

<div class="float_right">
  <%= link_to I18n.t('used_offerings.show.all_offerings_link'),
      offerings_url %>
</div>
