<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
    :object => ['/', offerings_path, new_offering_path ] %>
<% end -%>


<% places_choices = @places.map { |place| [place.name, place.id] } -%>
<% form_for :offering, :url => offerings_url,
    :html => { :class => "form"} do |form| -%>
  <%= error_messages_for :offering, :class => "errors" %>
  <table>
    <tr>
      <td>
        <span class="bold"><%= I18n.t 'offerings.form.labels.departure_time'%></span>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.datetime_select(:departure_time,
          :start_year => Time.now.year, :end_year => Time.now.year + 1) %>
      </td>
    </tr>

    <tr>
      <td>
        <span class="bold"><%= I18n.t 'offerings.form.labels.expiry_time'%></span>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.datetime_select(:expiry_time,
            :start_year => Time.now.year, :end_year => Time.now.year + 1) %>
      </td>
    </tr>

    <tr>
      <td>
        <span class="bold"><%= I18n.t 'offerings.form.labels.departure_place'%></span>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.select(:departure_place_id, places_choices, {},
          { "id" => "departure_place_select" }) %>
      </td>
    </tr>

    <tr>
      <td>
        <span class="bold"><%= I18n.t 'offerings.form.labels.arrival_place'%></span>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.select(:arrival_place_id, places_choices, {},
          { "id" => "arrival_place_select" }) %>
      </td>
    </tr>

    <tr>
      <td>
        <span class="bold"><%= I18n.t 'offerings.form.labels.seating_capacity'%></span>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.text_field(:seating_capacity, :size => 2, :maxlength => 2) %>
      </td>
    </tr>

    <tr>
      <td><%= submit_tag I18n.t('offerings.form.submit') %></td>
    </tr>
  </table>
<% end -%>
