<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
    :object => [home_path, new_offering_path ] %>
<% end -%>

<h3><%= I18n.t 'offerings.new.title' %></h3>

<p><%= I18n.t 'offerings.new.intro' %></p>
<%= render :partial => "partials/map" %>

<% places_choices = @places.map { |place| [place.name, place.id] } -%>
<% form_for :offering, :url => offerings_url do |form| -%>
  <%= error_messages_for :offering, :class => "errors" %>

    <%= render :partial => "partials/form_required_field_note" %>

    <!-- departure time -->
    <div class="form_div">
      <div class="form_label">
        <%= I18n.t('offerings.new.departure_time') + required_field %>
      </div>
      <div class="form_guide"><%= I18n.t 'offerings.guide.departure_time' %></div>
      <div class="form_input">
        <%= form.datetime_select(:departure_time,
          :start_year => Time.now.year, :end_year => Time.now.year + 1) %>
      </div>
    </div>

    <!-- expiry time -->
    <div class="form_div">
      <div class="form_label"><%= I18n.t('offerings.new.expiry_time') + required_field %></div>
      <div class="form_guide"><%= I18n.t 'offerings.guide.expiry_time'%></div>
      <div class="form_input">
        <%= form.datetime_select(:expiry_time,
            :start_year => Time.now.year, :end_year => Time.now.year + 1) %>
      </div>
    </div>

    <!-- departure place -->
    <div class="form_div">
      <div class="form_label">
        <%= I18n.t('offerings.new.departure_place') + required_field %>
      </div>
      <div class="form_input">
        <%= form.select(:departure_place_id, places_choices, {},
          { "id" => "departure_place_select" }) %>
      </div>
    </div>

    <!-- arrival place -->
    <div class="form_div">
      <div class="form_label">
        <%= I18n.t('offerings.new.arrival_place') + required_field %>
      </div>
      <div class="form_input">
        <%= form.select(:arrival_place_id, places_choices, {},
          { "id" => "arrival_place_select" }) %>
      </div>
    </div>

    <!-- seating capacity -->
    <div class="form_div">
      <div class="form_label">
        <%= I18n.t('offerings.new.seating_capacity') + required_field %>
      </div>
      <div class="form_guide">
        <%= I18n.t 'offerings.guide.seating_capacity'%>
      </div>
      <div class="form_input">
        <%= form.text_field(:seating_capacity, :size => 2, :maxlength => 2) %>
      </div>
    </div>

    <div class="form_note"><%= I18n.t 'offerings.guide.send' %></div>

    <div class="form_submit">
      <%= submit_tag I18n.t('offerings.new.submit_label') %>
    </div>
<% end -%>
