<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>

<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
      :object => [home_path, me_users_path, offerings_path,
                  offering_path(@offering)] %>
<% end -%>

<div class="float_right">
  <%= link_to I18n.t('offerings.show.all_offerings_link'),
      offerings_url %>
</div>

<h3>
  <%= I18n.t 'offerings.show.title', :id => @offering.id %>
  <span class="almost_normal">
    <% if @offering.in_use? -%>
      <%= I18n.t 'offerings.show.in_use' %>
    <% else -%>
      <%= I18n.t 'offerings.show.not_in_use' %>
    <% end -%>
  </span>
</h3>

<p class="almost_normal"><%= I18n.t 'offerings.show.guide.intro' %></p>

<%= render :partial => "offering_detailed", :object => @offering %>

<% if !@offering.chilled? -%>
  <p class="almost_normal"><%= I18n.t 'offerings.show.guide.delete' %></p>
  <%= button_to I18n.t('offerings.show.delete_label'),
        offering_url(@offering), :method => :delete,
        :confirm => I18n.t('are_you_sure?')%>
<% end -%>

<div class="float_right">
  <%= link_to I18n.t('offerings.show.all_offerings_link'),
      offerings_url %>
</div>
