<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
             :object => [home_path, me_users_path, user_path(@user),
              user_unwelcome_drivers_path(:user_id => @user.id)]
  %>
<% end -%>

<p>
  <%= I18n.t('unwelcome_drivers.index') %>
</p>

<%= render :partial => "partials/black_lists/users_in_black_list",
  :object => @unwelcome_drivers.map { |d| [d, user_unwelcome_driver_url(
        :user_id => @user.id, :id => d.id)]},
  :locals => { :url_post => user_unwelcome_drivers_url(:user_id => @user.id),
               :empty_message => I18n.t('users.no_drivers_in_black_list')} %>

<%= button_to I18n.t('done'), user_url(@user), :method => :get %>

<%= render :partial => "users/search" %>
