<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<!-- account section -->
<% if session[:account_name] -%>
  <div class="sidebar_entry">
    <span class="small">
      <%= I18n.t('sidebar.logged_as')%>
    </span><br/>
    <% if session[:account_name].size > 15 -%>
      <%= session[:account_name].to(14)%>...
    <% else -%>
      <%= session[:account_name] %>
    <% end -%>
    <span class="sidebar_warning">
      <%= I18n.t('sidebar.login_warning') %>
    </span>
  </div>
<% else -%>
  <div class="sidebar_entry">
    <span class="small">
      <%= I18n.t('sidebar.not_logged_in') %>
    </span>
  </div>
<% end -%>
<!-- end of account section -->
<div class="sidebar_entry">
  <%= link_to "Home", "/" %>
</div>
<div class="sidebar_entry">
  <% form_tag '', :method => 'GET', :class => 'locale' do -%>
    <div>
      <span class="small"><%= I18n.t('sidebar.language')%></span>
      <%= select_tag 'locale', options_for_select(LANGUAGES,
            I18n.locale), :onchange => 'this.form.submit()' %>
    </div>
  <% end -%>
</div>
<div class="sidebar_entry">
  <%= link_to I18n.t('sidebar.sign_up'),  new_user_url %>
</div>
<div class="sidebar_entry">
  <%= link_to I18n.t('sidebar.personal_area'), me_users_url %>
</div>
<div class="sidebar_entry">
  <%= link_to I18n.t('sidebar.your_demands'), demands_url %>
</div>
<div class="sidebar_entry">
  <%= link_to I18n.t('sidebar.your_offerings'), offerings_url %>
</div>
<div class="sidebar_entry">
  <%= link_to I18n.t('sidebar.new_demand'), new_demand_url %>
</div>
<div class="sidebar_entry">
  <%= link_to I18n.t('sidebar.new_offering'), new_offering_url %>
</div>
<%= yield :sidebar %>
