<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% fd = @fulfilled_demand -%>
<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
    :object => [home_path, me_users_path, demands_path,
                demand_path(fd.demand) ] %>
<% end -%>

<div class="float_right">
  <%= link_to I18n.t('fulfilled_demands.show.all_demands_link'),
      demands_url %>
</div>

<h3><%= I18n.t 'fulfilled_demands.show.title', :id => fd.id %></h3>

<p><%= I18n.t 'fulfilled_demands.show.intro' %></p>
<p><%= I18n.t 'fulfilled_demands.show.demand_intro' %></p>

<%= render :partial => "demands/demand_detailed", :object => fd.demand %>

<p><%= I18n.t 'fulfilled_demands.show.solution_intro' %></p>

<% if fd.has_initial_walk? -%>
  <h4><%= I18n.t 'fulfilled_demands.show.initial_walk_title' %></h4>
  <table>
    <tr>
      <td class="bold"><%= I18n.t 'fulfilled_demands.show.from'%></td>
      <td>
        <%= render :partial => "places/place",
              :object => fd.departure_place %>
      </td>
      <td class="bold">
        <%= I18n.t 'fulfilled_demands.show.departure_time'%>
      </td>
      <td><%= I18n.l fd.departure_time, :format => :long %></td>
    </tr>
    <tr>
      <td class="bold"><%= I18n.t 'fulfilled_demands.show.to'%></td>
      <td>
        <%= render :partial => "places/place",
              :object => fd.car_departure_place %>
      </td>
    </tr>
    <tr>
      <td class="bold"><%= I18n.t 'fulfilled_demands.show.length' %></td>
      <td><%= I18n.t 'meters', :length => fd.initial_walk_length %></td>
      <td class="bold"><%= I18n.t 'fulfilled_demands.show.duration' %></td>
      <td><%= I18n.t 'minutes', :duration => fd.initial_walk_duration %></td>
    </tr>
  </table>
<% end -%>

<h4><%= I18n.t 'fulfilled_demands.show.car_title' %></h4>
<table>
  <tr>
    <td class="bold"><%= I18n.t 'fulfilled_demands.show.from' %></td>
    <td>
      <%= render :partial => "places/place",
            :object => fd.car_departure_place %>
    </td>
    <td class="bold">
      <%= I18n.t 'fulfilled_demands.show.departure_time'%>
    </td>
    <td><%= I18n.l fd.car_departure_time, :format => :long %></td>
  </tr>
  <tr>
    <td class="bold"><%= I18n.t 'fulfilled_demands.show.to' %></td>
    <td>
      <%= render :partial => "places/place",
            :object => fd.car_arrival_place %>
    </td>
    <td class="bold">
      <%= I18n.t 'fulfilled_demands.show.arrival_time'%>
    </td>
    <td><%= I18n.l fd.car_arrival_time, :format => :long %></td>
  </tr>
  <tr>
    <td class="bold"><%= I18n.t 'fulfilled_demands.show.with' %></td>
    <td>
      <%= render :partial => "users/user_name",
            :object => fd.vehicle_offering.driver %>
    </td>
    <td>
      <%= link_to I18n.t('fulfilled_demands.show.write_to_driver'),
            new_message_url(
              :recipients => recipients_param([fd.vehicle_offering.driver])) %>
    </td>
  </tr>
  <% if fd.vehicle_offering.note -%>
    <tr>
      <td class="bold">
        <%= I18n.t 'fulfilled_demands.show.driver_note' %>
      </td>
      <td class="almost_normal" style='width: 15em;'>
        <%= h fd.vehicle_offering.note %>
      </td>
    </tr>
  <% end -%>
</table>

<% if fd.has_final_walk? -%>
  <h4><%= I18n.t 'fulfilled_demands.show.final_walk_title' %></h4>
  <table>
    <tr>
      <td class="bold"><%= I18n.t 'fulfilled_demands.show.from'%></td>
      <td>
        <%= render :partial => "places/place",
            :object => fd.car_arrival_place %>
      </td>
    </tr>
    <tr>
      <td class="bold"><%= I18n.t 'fulfilled_demands.show.to'%></td>
      <td>
        <%= render :partial => "places/place",
            :object => fd.arrival_place %>
      </td>
      <td class="bold">
        <%= I18n.t 'fulfilled_demands.show.arrival_time'%>
      </td>
      <td><%= I18n.l fd.arrival_time, :format => :short %></td>
    </tr>
    <tr>
      <td class="bold"><%= I18n.t 'fulfilled_demands.show.length' %></td>
      <td><%= I18n.t 'meters', :length => fd.final_walk_length %></td>
      <td class="bold"><%= I18n.t 'fulfilled_demands.show.duration' %></td>
      <td><%= I18n.t 'minutes', :duration => fd.final_walk_duration %></td>
    </tr>
  </table>
<% end -%>

<% if fd.guaranteed? -%>
  <p><%= I18n.t 'fulfilled_demands.show.guaranteed' %></p>
<% else -%>
  <p>
    <%= I18n.t('fulfilled_demands.show.not_guaranteed',
          :time => I18n.l(fd.guaranteed_since, :format => :long)) %>
  </p>
<% end -%>

<% if !fd.chilled? -%>
  <p>
    <%= I18n.t('fulfilled_demands.show.can_delete_until',
          :time => I18n.l(fd.chilled_since, :format => :long)) %>
  </p>
  <p class="almost_normal">
    <%= I18n.t 'fulfilled_demands.show.guide.delete' %>
  </p>
  <%= button_to I18n.t('fulfilled_demands.show.delete_label'),
        fulfilled_demand_url(fd), :method => :delete,
        :confirm => I18n.t('are_you_sure?') %>
<% end -%>

<div class="float_right">
  <%= link_to I18n.t('fulfilled_demands.show.all_demands_link'),
      demands_url %>
</div>
