<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<h4><%= I18n.t 'users.public.this_user_is' %></h4>
<ul>
  <li>
    <span><%= I18n.t 'users.public.in_drivers_bl' %></span>:
    <span class='bold'>
      <% if @requester.drivers_in_black_list.include?(@user) -%>
        <%= I18n.t 'yes_w' %>
      <% else -%>
        <%= I18n.t 'no_w' %>
      <% end -%>
    </span>
  </li>
  <li>
    <span><%= I18n.t 'users.public.in_passengers_bl' %></span>:
    <span class='bold'>
      <% if @requester.passengers_in_black_list.include?(@user) -%>
        <%= I18n.t 'yes_w' %>
      <% else -%>
        <%= I18n.t 'no_w' %>
      <% end -%>
    </span>
  </li>
</ul>

<p>
  <%= link_to I18n.t('users.public.write_a_message'),
        new_message_url(:recipients => recipients_param([@user])) %>
</p>

