<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% @languages = Language.find(:all).map { |l| [l.name, l.id] } -%>

<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
      :object => [home_path, me_users_path, user_path(@user),
                  edit_user_path(@user)] %>
<% end -%>

<% form_for :user, :url => {:action => :update, :id => @user },
            :html => { :method => :put } do |form| %>
  <%= form.error_messages :class => "errors" %>

    <%= render :partial => "partials/form_required_field_note" %>

    <div class="form_div">
      <div class="form_label"><%= I18n.t('users.first_name') + required_field%></div>
      <div class="form_input">
        <%= form.text_field :first_name, :size => 30,
          :disabled => true %>
      </div>
    </div>

    <div class="form_div">
      <div class="form_label"><%= I18n.t('users.last_name') + required_field%></div>
      <div class="form_input">
        <%= form.text_field :last_name, :size => 30,
          :disabled => true %>
      </div>
    </div>

    <div class="form_div">
      <div class="form_label"><%= I18n.t('users.email') + required_field %></div>
      <div class="form_input">
        <%= form.text_field :email, :size => 30 %>
      </div>
    </div>

    <div class="form_div">
      <div class="form_label"><%= I18n.t('users.sex') + required_field%></div>
      <div class="form_input">
        <span><%= I18n.t('gender.male')%>&nbsp;</span>
        <%= form.radio_button :sex, "M" %>&nbsp;&nbsp;
        <span><%= I18n.t('gender.female')%>&nbsp;</span>
        <%= form.radio_button :sex, "F" %>
      </div>
    </div>

    <div class="form_div">
      <div class="form_label"><%= I18n.t 'users.telephone_number' %></div>
      <div class="form_guide"><%= I18n.t 'users.guide.telephone_number' %></div>
      <div class="form_input">
        <%= form.text_field :telephone_number, :size => 13 %>
      </div>
    </div>

    <div class="form_div">
      <div class="form_label">
        <%= I18n.t 'users.vehicle_registration_plate' %>
      </div>
      <div class="form_guide">
        <%= I18n.t 'users.guide.vehicle_registration_plate' %>
      </div>
      <div class="form_input">
        <%= form.text_field :vehicle_registration_plate, :size => 13 %>
      </div>
    </div>

    <!-- preferences -->
    <div class="form_div">
      <div class="form_label"><%= I18n.t('users.max_foot_length') + required_field%></div>
      <div class="form_guide">
        <%= I18n.t 'users.guide.max_foot_length' %>
      </div>
      <div class="form_input">
        <%= form.select(:max_foot_length, [['500 m', 500],
                                          ['1 km', 1000],
                                          ['1.5 km', 1500],
                                          ['2 km', 2000],
                                          ['2.5 km', 2500],
                                          ['3 km', 3000],
                                          ['4 km', 4000],
                                          ['5 km', 5000]])%>
      </div>
    </div>

    <div class="form_div">
      <div class="form_label"><%= I18n.t('users.lang') + required_field %></div>
      <div class="form_guide"><%= I18n.t 'users.guide.lang' %></div>
      <div class="form_input">
        <%= form.select(:language_id, @languages)%>
      </div>
    </div>

    <div class="form_div">
      <div class="form_label"><%= I18n.t('users.messages_fwd') + required_field %></div>
      <div class="form_guide"><%= I18n.t 'users.guide.messages_fwd' %></div>
      <div class="form_input">
        <span>
          <%= I18n.t 'yes_w' %>
          <%= form.radio_button :forward_messages_to_mail, true %>
        </span>&nbsp;&nbsp;
        <span>
          <%= I18n.t 'no_w' %>
          <%= form.radio_button :forward_messages_to_mail, false %>
        </span>
      </div>
    </div>

    <div class="form_submit">
      <%= submit_tag I18n.t('users.actions.save_button_label') %>
    </div>

<% end %>
