<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>

<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
    :object => [home_path, login_path] %>
<% end -%>

<% form_tag login_url do %>
  <table>
    <tr>
      <td>
        <span class="bold"><%= I18n.t 'users.login_form.nick_name' %></span>
      </td>
      <td>
        <%= text_field_tag(:nick_name, params[:nick_name], :size => 20) %>
      </td>
    </tr>
    <tr>
      <td>
        <span class="bold"><%= I18n.t 'users.login_form.password' %></span>
      </td>
      <td>
        <%= password_field_tag(:password, params[:password], :size => 20) %>
      </td>
    </tr>
    <tr>
      <td><%= submit_tag I18n.t('users.login_form.submit') %></td>
    </tr>
  </table>
<% end %>
