<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
      :object => ["/", new_user_path] %>
<% end -%>

<% form_for :user, :url => {:action => :create} do |form| %>
  <% @languages = Language.find(:all).map { |l| [l.name, l.id] } -%>

<%= form.error_messages :class => "errors" %>
  <table>
    <tr>
      <td>
        <span class="bold"><%= I18n.t 'users.nick_name' %>:</span>
      </td>
      <td>
        <%= form.text_field :nick_name, :size => 30 %>
      </td>
    </tr>
    <tr>
      <td>
        <span class="bold"><%= I18n.t 'users.password' %>:</span>
      </td>
      <td>
        <%= form.password_field :password, :size => 30 %>
      </td>
    </tr>
    <tr>
      <td>
        <span class="bold"><%= I18n.t('users.first_name')%>:</span>
      </td>
      <td>
        <%= form.text_field :first_name, :size => 30 %>
      </td>
    </tr>
    <tr>
      <td>
        <span class="bold"><%= I18n.t('users.last_name')%>:</span>
      </td>
      <td>
        <%= form.text_field :last_name, :size => 30 %>
      </td>
    </tr>
    <tr>
      <td>
        <span class="bold"><%= I18n.t('users.email')%>:</span>
      </td>
      <td>
        <%= form.text_field :email, :size => 30 %>
      </td>
    </tr>
    <tr>
      <td>
        <span class="bold"><%= I18n.t('users.sex')%>:</span>
      </td>
      <td>
        <span class="bold"><%= I18n.t('gender.male')%>&nbsp;</span>
        <%= form.radio_button :sex, "M" %>&nbsp;&nbsp;
        <span class="bold"><%= I18n.t('gender.female')%>&nbsp;</span>
        <%= form.radio_button :sex, "F" %>
      </td>
    </tr>
    <tr>
      <td>
        <span class="bold"><%= I18n.t('users.max_foot_length')%>:</span>
      </td>
      <td>
        <%= form.select(:max_foot_length, [['500 m', 500],
                                          ['1 km', 1000],
                                          ['1.5 km', 1500],
                                          ['2 km', 2000],
                                          ['2.5 km', 2500],
                                          ['3 km', 3000],
                                          ['4 km', 4000],
                                          ['5 km', 5000]])%>
      </td>
    </tr>
    <tr>
      <td>
        <span class="bold"><%= I18n.t('users.lang')%>:</span>
      </td>
      <td>
        <%= form.select(:language_id, @languages)%>
      </td>
    </tr>
    <tr>
      <td>
        <%= submit_tag I18n.t('users.actions.save_button_label') %>
      </td>
    </tr>
  </table>
<% end %>
