<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% @languages = Language.find(:all).map { |l| [l.name, l.id] } -%>

<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
      :object => ["/", new_user_path] %>
<% end -%>

<% form_for :user, :url => {:action => :create} do |form| %>

  <%= form.error_messages :class => "errors" %>

  <%= render :partial => "partials/form_required_field_note" %>

  <div class="form_div">
    <div class="form_label">
      <span class="bold"><%= I18n.t('users.nick_name') + required_field %></span>
    </div>
    <div class="form_input">
      <%= form.text_field :nick_name, :size => 30 %>
    </div>
  </div>
  <div class="form_div">
    <div class="form_label">
      <span class="bold"><%= I18n.t('users.password') + required_field %></span>
    </div>
    <div class="form_input">
      <%= form.password_field :password, :size => 20 %>
    </div>
  </div>
  <div class="form_div">
    <div class="form_label">
      <span class="bold"><%= I18n.t('users.first_name') + required_field %></span>
    </div>
    <div class="form_input">
      <%= form.text_field :first_name, :size => 20 %>
    </div>
  </div>
  <div class="form_div">
    <div class="form_label">
      <span class="bold"><%= I18n.t('users.last_name') + required_field %></span>
    </div>
    <div class="form_input">
      <%= form.text_field :last_name, :size => 20 %>
    </div>
  </div>
  <div class="form_div">
    <div class="form_label">
      <span class="bold"><%= I18n.t('users.email') + required_field %></span>
    </div>
    <div class="form_guide"><%= I18n.t 'users.new.guide.email' %></div>
    <div class="form_input">
      <%= form.text_field :email, :size => 30 %>
    </div>
  </div>
  <div class="form_div">
    <div class="form_label">
      <span class="bold"><%= I18n.t('users.sex') + required_field %></span>
    </div>
    <div class="form_input">
      <span><%= I18n.t('gender.male')%>&nbsp;</span>
      <%= form.radio_button :sex, "M" %>&nbsp;&nbsp;
      <span><%= I18n.t('gender.female')%>&nbsp;</span>
      <%= form.radio_button :sex, "F" %>
    </div>
  </div>
  <div class="form_div">
    <div class="form_label">
      <span class="bold"><%= I18n.t('users.lang') + required_field %></span>
    </div>
    <div class="form_guide"><%= I18n.t 'users.new.guide.lang' %></div>
    <div class="form_input">
      <%= form.select(:language_id, @languages)%>
    </div>
  </div>
  <div class="form_submit">
    <%= submit_tag I18n.t('users.actions.send_button_label') %>
  </div>
<% end %>
