<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
      :object => [home_path, me_users_path, user_path(@user)] %>
<% end -%>

  <p><%= I18n.t 'users.show.intro' %></p>

  <h3><%= I18n.t('users.heading_details')%></h3>

  <table>
    <tr>
      <td><span class="public_bold"><%= I18n.t('users.first_name')%></span></td>
      <td><span class="public"><%= h @user.first_name %></span></td>
    </tr>
    <tr>
      <td><span class="public_bold"><%= I18n.t('users.last_name')%></span></td>
      <td><span class="public"><%= h @user.last_name %></span></td>
    </tr>
    <tr>
      <td><span class="public_bold"><%= I18n.t('users.sex')%></span></td>
      <td><span class="public"><%= h @user.sex %></span></td>
    </tr>
    <tr>
      <td><span class="public_bold"><%= I18n.t('users.nick_name')%></span></td>
      <td><span class="public"><%= h @user.nick_name %></span></td>
    </tr>
    <tr>
      <td><span class="public_bold"><%= I18n.t('users.email')%></span></td>
      <td><span class="public"><%= h @user.email %></span></td>
    </tr>
    <tr>
      <td><span class="public_bold"><%= I18n.t('users.telephone_number')%></span></td>
      <td>
        <% if @user.telephone_number -%>
          <span class="public"><%= h @user.telephone_number %></span>
        <% else -%>
          <span class="italic"><%= I18n.t 'users.telephone_number_not_set' %></span>
        <% end -%>
      </td>
    </tr>
    <tr>
      <td>
        <span class="public_bold"><%= I18n.t('users.vehicle_registration_plate')%></span>
      </td>
      <td>
        <% if @user.vehicle_registration_plate -%>
          <span class="public"><%= h @user.vehicle_registration_plate %></span>
        <% else -%>
          <span class="italic"><%= I18n.t 'users.vehicle_registration_plate_not_set' %></span>
        <% end -%>
      </td>
    </tr>
    <!-- picture -->
    <tr>
      <td><span class="public_bold"><%= I18n.t 'users.picture' %></span></td>
      <td>
        <%= render :partial => "pictures/picture", :object => @user.picture %>
      </td>
      <td>
        <%= button_to I18n.t('users.actions.edit_picture_button_label'),
          edit_user_picture_url(@user), :method => :get, :class => "button" %>
        <% if @user.has_picture? -%>
          <br/>
          <%= button_to I18n.t('users.actions.delete_picture_button_label'),
            user_picture_url(:user_id => @user.id), :method => :delete,
            :class => "button",
            :confirm => I18n.t('are_you_sure?') %>
        <% end -%>
      </td>
    </tr>
    <!-- member since -->
    <tr>
      <td><span class="public_bold"><%= I18n.t 'users.member_since' %></span></td>
      <td>
        <span class="public"><%= I18n.l @user.created_at, :format => :long %></span>
      </td>
    </tr>
    <!-- score -->
    <tr>
      <td><span class="bold"><%= I18n.t('users.score')%></span></td>
      <td><%= h @user.score %></td>
    </tr>
  </table>
  <%= button_to I18n.t('users.actions.edit_button_label'),
      edit_user_url(@user), :method => :get, :class => "button" %>

  <p class="almost_normal"><%= I18n.t 'users.show.guide.score' %></p>

  <br/>

  <!-- PREFERENCES -->
  <h3><%= I18n.t('users.heading_prefs')%></h3>
  <table>
    <tr>
      <td><span class="bold"><%= I18n.t('users.lang')%></span></td>
      <td><%= h @user.lang %></td>
    </tr>
    <tr>
      <td><span class="bold"><%= I18n.t('users.messages_fwd') %></span></td>
      <td>
        <%= @user.wants_message_by_email? && I18n.t('yes_w') || I18n.t('no_w') %>
      </td>
    </tr>
    <tr>
      <td><span class="bold"><%= I18n.t('users.max_foot_length')%></span></td>
      <td><%= I18n.t('meters', :length => h(@user.max_foot_length)) %></td>
    </tr>
  </table>
  <%= button_to I18n.t('users.actions.edit_button_label'),
      edit_user_url(@user), :method => :get, :class => "button" %>

  <p class="almost_normal"><%= I18n.t 'users.show.guide.max_foot_length' %></p>

  <br/>
  <!-- BLACK LISTS -->
  <!-- black list of drivers -->
  <h3>
    <%= I18n.t('users.heading_drivers_black_list')%>
  </h3>
  <% if @user.drivers_in_black_list.empty? -%>
    <p>
      <span class="italic"><%= I18n.t('users.no_drivers_in_black_list')%></span>
    </p>
  <% else -%>
    <%= render :partial => "users_list", :object => @user.drivers_in_black_list %>
  <% end -%>
  <%= button_to I18n.t('users.actions.edit_button_label'),
    user_unwelcome_drivers_url(:user_id => @user.id),
    :method => :get, :class => "button" %>

  <p class="almost_normal"><%= I18n.t 'users.show.guide.drivers_in_black_list' %></p>

  <br/>
  <!-- black list of passengers -->
  <h3>
    <%= I18n.t('users.heading_passengers_black_list')%>
  </h3>
  <% if @user.passengers_in_black_list.empty? -%>
    <p>
      <span class="italic"><%= I18n.t('users.no_passengers_in_black_list')%></span>
    </p>
  <% else -%>
    <%= render :partial => "users_list", :object => @user.passengers_in_black_list %>
  <% end -%>
  <%= button_to I18n.t('users.actions.edit_button_label'),
    user_unwelcome_passengers_url(:user_id => @user.id),
    :method => :get, :class => "button" %>

  <p class="almost_normal"><%= I18n.t 'users.show.guide.passengers_in_black_list' %></p>
