<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
      :object => ["/", user_path(@user)] %>
<% end -%>

  <h3>
    <%= I18n.t('users.heading_details')%>
  </h3>
  <table>
    <tr><td><span class="bold"><%= I18n.t('users.first_name')%></span>
      </td><td><%= h @user.first_name %></td>
    </tr>
    <tr><td><span class="bold"><%= I18n.t('users.last_name')%></span>
      </td><td><%= h @user.last_name %></td>
    </tr>
    <tr><td><span class="bold"><%= I18n.t('users.sex')%></span>
      </td><td><%= h @user.sex %></td>
    </tr>
    <tr><td><span class="bold"><%= I18n.t('users.nick_name')%></span>
      </td><td><%= h @user.nick_name %></td>
    </tr>
    <tr><td><span class="bold"><%= I18n.t('users.email')%></span>
      </td><td><%= h @user.email %></td>
    </tr>
    <tr><td><span class="bold"><%= I18n.t('users.telephone_number')%></span>
      </td>
      <td>
        <% if @user.telephone_number -%>
          <%= h @user.telephone_number %>
        <% else -%>
          <span class="italic"><%= I18n.t 'users.telephone_number_not_set' %></span>
        <% end -%>
      </td>
    </tr>
    <tr><td><span class="bold"><%= I18n.t('users.vehicle_registration_plate')%></span>
      </td>
      <td>
        <% if @user.vehicle_registration_plate -%>
          <%= h @user.vehicle_registration_plate %>
        <% else -%>
          <span class="italic"><%= I18n.t 'users.vehicle_registration_plate_not_set' %></span>
        <% end -%>
      </td>
    </tr>
    <tr><td><span class="bold"><%= I18n.t('users.score')%></span>
      </td><td><%= h @user.score %></td>
    </tr>
    <tr>
      <td><span class="bold"><%= I18n.t 'users.picture' %></span></td>
      <td>
        <%= render :partial => "picture", :object => @user.picture,
          :locals => {:user => @user} %>
      </td>
      <% if @user.has_picture? -%>
        <td id='<%= "delete_picture_user_#{@user.id}" %>'>
          <%= button_to_remote I18n.t('users.actions.delete_picture_button_label'),
            :url => picture_user_url(@user), :method => :delete,
            :confirm => I18n.t('are_you_sure?'),
            :html => { :class => "button" } %>
        </td>
      <% end -%>
    </tr>
  </table>
  <%= button_to I18n.t('users.actions.edit_button_label'),
      edit_user_url(@user), :method => :get, :class => "button" %>

  <hr/>

  <h3><%= I18n.t('users.heading_prefs')%></h3>
  <table>
    <tr><td><span class="bold"><%= I18n.t('users.lang')%></span>
      </td><td><%= h @user.lang %></td>
    </tr>
    <tr><td><span class="bold"><%= I18n.t('users.max_foot_length')%></span>
      </td><td><%= h @user.max_foot_length %></td>
    </tr>
  </table>
  <%= button_to I18n.t('users.actions.edit_button_label'),
      edit_user_url(@user), :method => :get, :class => "button" %>

  <hr/>
  <!-- BLACK LISTS -->
  <!-- black list of drivers -->
  <h3>
    <%= I18n.t('users.heading_drivers_black_list')%>
  </h3>
  <% if @user.drivers_in_black_list.empty? -%>
    <p>
      <span class="italic">
        <%= I18n.t('users.no_drivers_in_black_list')%>
      </span>
    </p>
  <% else -%>
    <%= render :partial => "users_list", :object => @user.drivers_in_black_list %>
  <% end -%>
  <%= button_to I18n.t('users.actions.edit_button_label'),
    user_unwelcome_drivers_url(:user_id => @user.id),
    :method => :get, :class => "button" %>

  <hr/>
  <!-- black list of passengers -->
  <h3>
    <%= I18n.t('users.heading_passengers_black_list')%>
  </h3>
    <% if @user.passengers_in_black_list.empty? -%>
      <p>
        <span class="italic"><%= I18n.t('users.no_passengers_in_black_list')%></span>
      </p>
    <% else -%>
      <%= render :partial => "users_list", :object => @user.passengers_in_black_list %>
    <% end -%>
    <%= button_to I18n.t('users.actions.edit_button_label'),
      user_unwelcome_passengers_url(:user_id => @user.id),
      :method => :get, :class => "button" %>
