<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<table class="almost_normal">
  <tr>
    <td class="bold"><%= I18n.t 'demands.index.from' %></td>
    <td><%= render :partial => "places/place", :object => demand.departure_place %></td>
    <td class="bold"><%= I18n.t 'demands.index.min_departure_time'%></td>
    <td><%= I18n.l demand.earliest_departure_time, :format => :short %></td>
  </tr>
  <tr>
    <td class="bold"><%= I18n.t 'demands.index.to' %></td>
    <td><%= render :partial => "places/place", :object => demand.arrival_place %></td>
    <td class="bold"><%= I18n.t 'demands.index.max_arrival_time'%></td>
    <td><%= I18n.l demand.latest_arrival_time, :format => :short %></td>
  </tr>
  <tr>
    <td class="bold"><%= I18n.t 'demands.index.created_at'%></td>
    <td><%= I18n.l demand.created_at, :format => :short%></td>
    <td class="bold"><%= I18n.t 'demands.index.in_process' %></td>
    <td>
      <% if !demand.expired? -%>
        <%= I18n.t 'yes_w' %>
      <% else -%>
        <%= I18n.t 'no_w' %>
      <% end -%>
    </td>
  </tr>
  <tr>
    <td class="bold"><%= I18n.t 'demands.index.deletable' %></td>
    <td>
      <% if demand.deletable? -%>
        <%= I18n.t 'yes_w' %>
      <% else -%>
        <%= I18n.t 'no_w' %>
      <% end -%>
    </td>
    <td class="bold"><%= I18n.t 'demands.index.fulfilled' %></td>
    <td>
      <% if demand.fulfilled? -%>
        <%= I18n.t 'yes_w' %>
      <% else -%>
        <%= I18n.t 'no_w' %>
      <% end -%>
    </td>
  </tr>
  <tr>
    <td><%= link_to I18n.t('demands.index.details_link'), demand_url(demand) %></td>
  </tr>
</table>
