<%
# Copyright (C) 2010  Roberto Maestroni
#
# This file is part of Rcarpooling.
#
# Rcarpooling is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rcarpooling is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with Rcarpooling.  If not, see <http://www.gnu.org/licenses/>.
-%>
<% content_for(:navigation_path) do -%>
  <%= render :partial => "partials/navigation_path",
    :object => [home_path, demands_path, new_demand_path ] %>
<% end -%>

<h3><%= I18n.t 'demands.new.title' %></h3>

<p><%= I18n.t 'demands.new.intro' %></p>

<%= render :partial => "partials/map" %>

<% places_choices = @places.map { |place| [place.name, place.id] } -%>
<% form_for :demand, :url => demands_url,
    :html => { :class => "form"} do |form| -%>
  <%= error_messages_for :demand, :class => "errors" %>

    <%= render :partial => "partials/form_required_field_note" %>

    <!-- earliest departure time -->
    <div class="form_div">
      <div class="form_label">
        <%= I18n.t('demands.form.labels.earliest_departure_time') + required_field %>
      </div>
      <div class="form_guide">
        <%= I18n.t 'demands.guide.earliest_departure_time' %>
      </div>
      <div class="form_input">
        <%= form.datetime_select(:earliest_departure_time,
          :start_year => Time.now.year, :end_year => Time.now.year + 1) %>
      </div>
    </div>

    <!-- latest arrival time -->
    <div class="form_div">
      <div class="form_label">
        <%= I18n.t('demands.form.labels.latest_arrival_time') + required_field %>
      </div>
      <div class="form_guide">
        <%= I18n.t 'demands.guide.latest_arrival_time' %>
      </div>
      <div class="form_input">
        <%= form.datetime_select(:latest_arrival_time,
            :start_year => Time.now.year, :end_year => Time.now.year + 1) %>
      </div>
    </div>

    <!-- expiry time -->
    <div class="form_div">
      <div class="form_label"><%= I18n.t('demands.form.labels.expiry_time') + required_field %></div>
      <div class="form_guide"><%= I18n.t 'demands.guide.expiry_time' %></div>
      <div class="form_input">
        <%= form.datetime_select(:expiry_time,
            :start_year => Time.now.year, :end_year => Time.now.year + 1) %>
      </div>
    </div>

    <!-- departure place -->
    <div class="form_div">
      <div class="form_label"><%= I18n.t('demands.form.labels.departure_place') + required_field %></div>
      <div class="form_input">
        <%= form.select(:departure_place_id, places_choices, {},
          { "id" => "departure_place_select"}) %>
      </div>
    </div>

    <!-- arrival place -->
    <div class="form_div">
      <div class="form_label"><%= I18n.t('demands.form.labels.arrival_place') + required_field %></div>
      <div class="form_input">
        <%= form.select(:arrival_place_id, places_choices, {},
          { "id" => "arrival_place_select"}) %>
      </div>
    </div>

    <!-- send -->
    <div class="form_submit">
      <%= submit_tag I18n.t('demands.form.submit') %>
    </div>
<% end -%>
